// <--content-- >>
.present {
  background-image: url("./assets/img/backgroud/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;

  &__product {
    display: flex;
    width: 96rem;
    margin: 0 auto;
    height: 70rem;

    &--img {
      width: 50%;
    }

    &--img img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &--text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      padding: 0 1.5rem;
    }

    &--text h1 {
      font-size: 4rem;
    }

    &--text h3 {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    &--text p {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
}
// <-- end content -->

// <-- cwf -->
.cwf {
  background-image: url("./assets/img/backgroud/background3.jpg");
  height: 60rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &__text {
    font-size: 70px;
    margin: 0 auto;
    text-align: center;
    line-height: 60rem;
    height: 100%;
    color: #fff;
  }
}
// <-- end cwf -->

// <-- feedback -->
.feedback {
  width: 96rem;
  margin: 0 auto;

  &__text {
    text-align: center;
    margin: 5rem auto 4rem;

    &-strikethrough {
      width: 12rem;
      height: 2px;
      background-color: #000;
      margin: 2rem auto;
    }
  }

  &__text h1 {
    font-size: 3rem;
  }

  &__text p {
    font-size: 1.6rem;
  }

  &__card {
    width: 33.333%;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 3rem;
    box-sizing: border-box;

    &--icon {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: #694d42;
      color: #fff;
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    &--icon i {
      line-height: 5rem;
    }

    &--text {
      font-size: 1.6rem;
    }

    &--strikethrough {
      width: 100%;
      height: 1px;
      background-color: #eaeaea;
      margin: 2rem 0;
    }

    &--email {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
    }

    &--email img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }

    &--email p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      text-align: start;
      font-size: 1.5rem;
    }

    &--email p a {
      font-style: oblique;
      font-size: 1.4rem;
    }
  }
}

.card {
  display: flex;
  gap: 3rem;
  margin-bottom: 6rem;
}
// <-- end feedback -->

// <-- price -->
.price {
  background-image: url("./assets/img/backgroud/background4.jpg");
  background-color: rgba(255, 255, 255, 0);
  background-origin: content-box;
  background-size: cover;
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;

  &__background {
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    font-size: 4rem;
    width: 96rem;
    margin: 0 auto;
    color: #000;
    display: flex;
    padding: 6rem 2rem 2rem;
  }

  &__text p {
    z-index: 10;
  }

  &__flex {
    display: flex;
    width: 96rem;
    margin: 0 auto;
    gap: 10rem;
    padding-bottom: 8rem;
  }

  &__list {
    width: 50%;
    z-index: 10;

    &--element {
      display: flex;
      font-size: 1.4rem;
      justify-content: space-between;
      padding: 2rem 1rem 2rem 2rem;
      border-bottom: 1px solid #e7e7e7;
    }
  }

  &__sale {
    width: 50%;
    border: 3px solid #212121;
    padding: 0 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: #000;
    z-index: 10;

    &--bottom {
      font-size: 2.8rem;
    }

    &--top {
      font-size: 1.8rem;
    }
  }

  &__sale h1 {
    font-size: 7.2rem;
  }
}
